proposal/_quarto.yml.book.bak
proposal/.ipynb_checkpoints/_quarto.yml.book-checkpoint.bak
proposal/.ipynb_checkpoints/.ipynb_checkpoints/10_motivation-checkpoint-checkpoint.ipynb
proposal/.ipynb_checkpoints/10_motivation-checkpoint.ipynb
proposal/.ipynb_checkpoints/20_data-checkpoint.ipynb
proposal/.ipynb_checkpoints/30_related_work-checkpoint.ipynb
proposal/.ipynb_checkpoints/40_methodology-checkpoint.ipynb
proposal/.ipynb_checkpoints/index.qmd.book-checkpoint.bak
proposal/.ipynb_checkpoints/paper-checkpoint.pdf
proposal/.ipynb_checkpoints/paper-checkpoint.qmd
proposal/index.qmd.book.bak
proposal/paper.pdf
proposal/paper.quarto_ipynb
.ipynb_checkpoints/.gitignore-checkpoint
milestone/__pycache__/default_loans_recovery_ratio.cpython-311.pyc
milestone/.ipynb_checkpoints/10_motivation-checkpoint.ipynb
milestone/.ipynb_checkpoints/40_eda_visualizations-checkpoint.ipynb
milestone/.ipynb_checkpoints/paper-checkpoint.qmd
milestone/.ipynb_checkpoints/requirements-checkpoint.txt
milestone/.ipynb_checkpoints/setup_data-checkpoint.py
